[user]
	name = Andrii Kudriashov
	email = andrii@kudriashov.net
[core]
	editor = vim
[init]
	defaultBranch = develop
[url "git@github.com:"]
	insteadOf = "git@github.com:"
[url "git@github.com:"]
	pushInsteadOf = "https://github.com:"
	pushInsteadOf = "git@github.com:"
